.korki-header{
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgb(81, 145, 61), rgb(66, 145, 142));
    display: inline-block;
    width: 100%;
}
body{
    margin: 0;
}
.tile-left{
    width: 50%;
    box-sizing: border-box;
    height: 500px;
    margin: 0;
    float: left;
}
.tile-right{
    width: 50%;
    box-sizing: border-box;
    height: 500px;
    margin: 0;
    float: right;
}
#korki-1-img-div{
    background-image: url("img/Korki-1.jpg");
    background-size: cover;
}
#korki-1-div{
    background-image: linear-gradient(to left, rgb(26, 108, 72), rgb(30, 47, 93));
}
.description{
    font-size: 40px;
    padding-left: 50px;
    padding-right: 10px;
    color: rgb(242, 247, 0);
}
#korki-2-img-div{
    background-image: url("img/Korki-2.jpg");
    background-size: cover;
}
#korki-2-div{
    background-image: linear-gradient(to right, rgb(26, 108, 72), rgb(30, 47, 93));
}
#korki-3-img-div{
    background-image: url("img/Korki-3.jpg");
    background-size: cover;
}
#korki-3-div{
    background-image: linear-gradient(to left, rgb(26, 108, 72), rgb(30, 47, 93));
}
#korki-4-img-div{
    background-image: url("img/Korki-4.jpg");
    background-size: cover;
}
#korki-4-div{
    background-image: linear-gradient(to right, rgb(26, 108, 72), rgb(30, 47, 93));
}
#korki-5-img-div{
    background-image: url("img/Korki-5.jpg");
    background-size: cover;
}
#korki-5-div{
    background-image: linear-gradient(to left, rgb(26, 108, 72), rgb(30, 47, 93));
}

.link{
    float: left;
    padding-top: 30px;  
    padding-left: 15px;
    font-size: 18px;
}

@media (max-width: 900px){
    .description{
        font-size: 34px;
        padding-left: 35px;
    }
    .tile-right, .tile-left{
        width: 100%;
        height: 300px
    }
}

@media (max-width: 600px){
    .description{
        font-size: 28px;
        padding-left: 25px;
    }
}